---
// Definere astro props så de kan bruges i html
const {material} = Astro.props;
const {desc} = Astro.props;
const {src} = Astro.props;
const {classs} = Astro.props;
---

<article class={classs}>
    <img src={src} alt="Billede af Materiale">
    <h2>{material}</h2>
    <p>{desc}</p>
</article>

<style>
     article {
        padding: 40px;
    }

    h2 {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    .color {
        background-color: var(--secondary-color);
    }

    @media (min-width: 600px) {
        .move {
            grid-column: 2;
            grid-row: 2;
        }
    }
</style>